<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263122717606-nb3lbm6mlv0i87lqn792k1i6a2quatda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263122717606-nb3lbm6mlv0i87lqn792k1i6a2quatda</string>
	<key>API_KEY</key>
	<string>AIzaSyDQdZ6-KioL6TadBihF1sAnRuGxckReWmc</string>
	<key>GCM_SENDER_ID</key>
	<string>263122717606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gossipApp</string>
	<key>PROJECT_ID</key>
	<string>gossip-95893</string>
	<key>STORAGE_BUCKET</key>
	<string>gossip-95893.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263122717606:ios:e8f6c5021dd8ba41f7dd67</string>
	<key>DATABASE_URL</key>
	<string>https://gossip-95893-default-rtdb.firebaseio.com</string>
</dict>
</plist>